/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
* { outline: 1px solid цвет; }

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  position: relative;
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: var(--main-text-size, 18px);
  font-weight: var(--main-text-weight, normal);
  margin: auto;
  background-attachment: fixed;
  background-image: var(
    --header-background-image,
    url("../images/cover-image-dark.png")
  );
  background-position: center;
  background-color: var(--background-color);
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: var(--main-padding);
  background-attachment: fixed;
  background-repeat: no-repeat;
  grid-auto-flow: row dense;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 3.4em;
}

.rec {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: var(--main-padding);
  line-height: 1.563em;
  right: calc(var(--main-padding) + 10px);
}

.rec::before {
  content: "REC";
  position: relative;
  font-size: var(--main-text-size);
  color: var(--accent-color);
}

.rec::after {
  content: "";
  position: relative;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px #ff0070;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 10;
}

.decorated-zone::before {
  top: var(--main-padding);
  right: var(--main-padding);
  border-top: 1px var(--angle-color) solid;
  border-inline-end: 1px var(--angle-color) solid;
}

.decorated-zone::after {
  bottom: calc(var(--main-padding) + 2.5px);
  left: var(--main-padding);
  border-bottom: 1px var(--angle-color) solid;
  border-inline-start: 1px var(--angle-color) solid;
}

.header__theme-menu-list {
  gap: 0.618em;
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  padding: 0 13px 3px;
  text-transform: lowercase;
  font-family: var(--page-font-family, "IBM Plex mono"), sans-serif;
  font-size: var(--main-text-size);
  font-weight: var(--main-text-weight);
  width: 70px;
  height: 26px;
  border: none;
  background-color: transparent;
  color: var(--section-title-color);
  justify-self: center;
  pointer-events: auto;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-border-color);
  pointer-events: none;
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
  cursor: pointer;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
  cursor: pointer;
}

.main__heading {
  font-family: "IBM Plex mono", sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--main-title-weight);
  justify-self: start;
  align-items: center;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  line-height: 129.53px;
  margin-left: calc(var(--main-padding) * -1);
}

.title-decor {
  color: var(--sub-title-color);
  font-family: var(--page-font-family, "IBM Plex mono"), sans-serif;
  font-size: var(--main-text-size);
  font-weight: var(--main-title-weight);
  background-color: var(--accent-color);
  line-height: var(--main-text-line-height);
  margin-block-end: 10px;
}

.section-sub-title {
  font-weight: var(--main-text-weight);
  margin-block-start: 1.25em;
}

.header__description {
  align-self: center;
  line-height: var(--main-text-line-height);
  margin-block-end: 0.063em;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description__text {
  display: grid;
  grid-column: 2;
}

.main {
  display: grid;
  margin: 3.75em var(--main-padding);
}

.section {
  gap: var(--main-padding);
  margin: calc(var(--main-padding) + 0.063em);
}

.section__standard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__unique {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-block-start: 2.1em;
  margin-block-end: 2.722em;
  gap: calc(var(--main-padding) + 0.07em);
}

.section__title-unique {
  grid-row: 1;
  grid-column: 1 / 4;
  inline-size: 100%;
  row-gap: 2.778em;
}

.section__unique-details {
  grid-row: 2;
  gap: 1.5em;
}

.section__unique .section__unique-details {
  margin-block-end: 0.625em;
}

.section__title {
  color: var(--section-title-color);
  font-size: var(--main-text-size);
}

.section__standard .section-details {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-block-end: 20px;
}

.section__advise .section-sub-title {
  margin-block-start: 20px;
}

.text {
  margin-block-end: 20px;
  line-height: var(--main-text-line-height);
  color: var(--main-text-color);
  margin-right: -1px;
}

.section-link {
  text-shadow: 4px 3px 0 var(--accent-color);
  text-decoration: none;
}

.section-link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  outline: none;
}

.section-link:focus {
  border: 1px solid currentColor;
  outline: none;
}

.section-link:focus-visible {
  border: 1px solid currentColor;
  outline: none;
}

.section-gallery {
  margin-block-start: 2.167em;
  margin-block-end: 3.611em;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
  inline-size: 100%;
  block-size: 100%;
}

.books {
  grid-area: books;
}

.tape {
  grid-area: tape;
  inline-size: 100%;
  block-size: 100%;
}

.street {
  grid-area: street;
}

.gallery {
  display: grid;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  gap: 20px;
  max-width: 100%;
  margin-block-start: 1em;
}

.footer {
  padding: var(--main-padding);
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto 1fr;
}

.footer__title {
  display: flex;
  grid-row: 2;
  justify-self: center;
  margin: var(--main-padding);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media screen and (max-width: 768px) {
  .rec {
    top: calc(var(--main-padding) + 4px);
    right: calc(var(--main-padding) + 13px);
  }

  .decorated-zone::before {
    top: calc(var(--main-padding) + 5px);
    right: calc(var(--main-padding) + 5px);
  }

  .decorated-zone::after {
    bottom: calc(var(--main-padding) + 5px);
    left: calc(var(--main-padding) + 5px);
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-inline-end: 0.313em;
    line-height: var(--main-text-line-height);
    margin-block-start: 0.219em;
  }

  .header__theme-menu {
    align-self: center;
  }

  .main__heading {
    font-size: 7em;
    line-height: 100px;
    word-spacing: -21px;
  }

  .header__description {
    margin-inline-end: 0.313em;
    line-height: calc(var(--main-text-line-height) + 0.013em);
  }

  .section__title {
    padding-inline-start: 0.188em;
  }

  .title-decor {
    margin-block-end: 9px;
  }

  .section__standard .section-details {
    padding-inline-start: 10px;
    padding-inline-end: 5px;
  }

  .text {
    margin-block-end: 20px;
  }

  .section__title-unique {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-block-end: 0.188em;
    margin-block-start: 0.063em;
  }

  .section__unique {
    display: flex;
    flex-direction: column;
    margin-block-end: 4.1em;
  }

  .section__unique .section__unique-details {
    margin-block-end: 10px;
    padding-inline-start: 0.25em;
    padding-inline-end: 0.25em;
  }

  .text__unique {
    margin-block-end: var(--text-unique-margin-bottom);
    line-height: calc(var(--main-text-line-height) * 1px);
  }

  .section-gallery {
    margin-block-start: 44px;
    padding-inline-start: 0.25em;
    padding-inline-end: 0.25em;
  }
}

@media screen and (max-width: 576px) {
  .section__standard {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: calc(var(--main-padding) - 5px);
  }
  .rec {
    top: calc(var(--main-padding) * 0.56);
    right: 20px;
  }

  .decorated-zone::before {
    top: calc(var(--main-padding) - 6px);
    right: calc(var(--main-padding) - 7px);
  }

  .decorated-zone::after {
    bottom: calc(var(--main-padding) - 6px);
    left: calc(var(--main-padding) * 0.58);
  }

  .header__theme-menu {
    justify-self: end;
    margin-inline-end: -6px;
  }

  .header__theme-menu-list {
    margin-block-start: calc(var(--main-padding) - 20px);
  }

  .main__heading {
    margin-left: 0;
    line-height: 95.7px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .description {
    margin-inline-end: calc(var(--main-padding) * -0.5);
    margin-block-start: 8px;
  }

  .description__text {
    grid-column-start: 1;
    grid-column: span 2;
  }

  .section {
    margin: calc(var(--main-padding) - 6px);
  }

  .section__standard {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    margin-block-start: 10px;
    margin-block-end: -20px;
    gap: 9px;
  }

  main {
    margin-block-start: -21px;
    padding: 0;
  }

  .text {
    padding-inline-start: 0;
    padding-block-start: 1.5px;
  }

  .section__title {
    padding: 0;
  }

  .section__standard .section-details {
    padding: 0;
    margin: carc(var(--main-padding) * -1);
    margin-block-start: 3px;
  }

  .section__title-unique {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section__unique .section__unique-details {
    padding: 0;
    margin-block-end: 6px;
  }

  .section__unique {
    margin-block-end: 50px;
    margin-block-start: 26px;
  }

  .section-sub-title {
    margin-block-start: 18px;
  }

  .section__advise .title-decor {
    margin-block-end: 8px;
  }

  .section-gallery {
    padding: 0;
    margin-block-start: 30px;
    margin-block-end: 60px;
  }

  .image {
    margin-block-end: 1px;
  }

  .books {
    order: 2;
  }

  .street {
    order: 5;
  }
}
