/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

html {
  font-size: 10px;
}

body {
  background-color: var(--background-color);
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  position: relative;
  font-family: var(--page-font-family, "IBM Plex mono", sans-serif);
  font-size: var(--main-text-size, 18px);
  font-weight: var(--main-text-weight, normal);

}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: var(--main-padding);
  background-image: var(--header-background-image, url("../images/cover-image-dark.png"));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  grid-auto-flow: row dense;
  height: 100vh;
}

.rec {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: var(--main-padding);
  line-height: 1.563em;
  right: calc(var(--main-padding) + 10px);
}

.rec::before {
  content: "REC";
  position: relative;
  font-size: var(--main-text-size);
  color: var(--accent-color);
}

.rec::after {
  content: "";
  position: relative;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.header::before, .header::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 10;
}

.header::before {
  top: var(--main-padding);
  right: var(--main-padding);
  border-top: 1px var(--accent-color) solid;
  border-inline-end: 1px var(--accent-color) solid;
}

.header::after {
  bottom: var(--main-padding);
  left: var(--main-padding);
  border-bottom: 1px var(--accent-color) solid;
  border-inline-start: 1px var(--accent-color) solid;
}

.header__theme-menu-list {
  gap: 0.625em;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }

  .header__theme-menu {
    align-self: center;
  }
}

.header__theme-menu-button {
  padding: 0 13px 3px;
  text-transform: lowercase;
  font-family: var(--page-font-family, 'IBM Plex mono'), sans-serif;
  font-size: var(--main-text-size);
  font-weight: var(--main-text-weight);
  width: 70px;
  height: 26px;
  border: none;
  background-color: transparent;
  color: var(--accent-color);
  justify-self: center;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.main__heading {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 15.7rem;
  font-weight: var(--main-title-weight);
  justify-self: start;
  align-items: center;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  line-height: 129.53px;
  margin-left: calc(var(--main-padding) * -1);
}

.title-decor {
  color: var(--main-text-color);
  line-height: 1.463em;
  font-family: var(--page-font-family, 'IBM Plex mono'), sans-serif;
  font-size: var(--main-text-size);
  font-weight: var(--main-title-weight);
  background-color: var(--accent-color);
}

.section-sub-title {
  font-weight: var(--main-text-weight);
}

.header__description {
  align-self: center;
  line-height: var(--main-text-line-height);
}

.rec {
  position: absolute;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description__text {
  display: grid;
  grid-column: 2;
}

main {
  display: grid;
  margin: 60px var(--main-padding);
  margin-block-end: var(--section-margin-bottom);
}

.section {
  gap: var(--main-padding);
}

.section__standard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__unique {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto 1fr;
}

.section__title-unique {
  grid-row: 1;
}

.section__unique-details {
  grid-row: 2;
  gap: 20px;
}

.section__unique .section__unique-details {
  margin-block-end: 10px;
}

.section__title {
  color: var(--accent-color);
  font-size: var(--main-text-size);
}

.section__standard .title-decor {
  margin-block-end: 10px;
  line-height: var(--main-text-line-height);
}

.section__standard .section-details{
  grid-column-start: 2;
  grid-column-end: 4;
}

.text {
  margin-block-end: 20px;
  line-height: var(--main-text-line-height);
  color: var(--text-color);
}

.section-link {
  text-shadow: 4px 3px 0 var(--accent-color);
  text-decoration: none;
}

.section-link:hover {
  border-bottom: 1px solid var(--link-color);
}

.section-link:focus-visible {
  border: 1px solid var(--link-color);
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.books {
  grid-area: books;
}

.tape {
  grid-area: tape;
  height: 100%;
}

.street {
  grid-area: street;
}

.galery {
  display: grid;
  grid-template-areas: 
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
  gap: 20px;
}




